# Regex Demo

Function	Description

findall : Returns a list containing all matches

search : Returns a Match object if there is a match anywhere in the string

split : Returns a list where the string has been split at each match

sub : Replaces one or many matches with a string

1. []	A set of characters	"[a-m]"	
2. \	Signals a special sequence (can also be used to escape special characters)	"\d"	
3. .	Any character (except newline character)	"he..o"	
4. ^	Starts with	"^hello"	
5. $	Ends with	"planet$"	
6. *	Zero or more occurrences	"he.*o"	
7. +	One or more occurrences	"he.+o"	
8. ?	Zero or one occurrences	"he.?o"	
9. {}	Exactly the specified number of occurrences	"he.{2}o"	
10. |	Either or	"falls|stays"	
11. ()	Capture and group

## Special sequences

\A	Returns a match if the specified characters are at the beginning of the string	"\AThe"	
\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\bain"
r"ain\b"	
\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	r"\Bain"
r"ain\B"	
\d	Returns a match where the string contains digits (numbers from 0-9)	"\d"	
\D	Returns a match where the string DOES NOT contain digits	"\D"	
\s	Returns a match where the string contains a white space character	"\s"	
\S	Returns a match where the string DOES NOT contain a white space character	"\S"	
\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)	"\w"	
\W	Returns a match where the string DOES NOT contain any word characters	"\W"	
\Z	Returns a match if the specified characters are at the end of the string	"Spain\Z"

## Sets

[arn]	Returns a match where one of the specified characters (a, r, or n) is present	
[a-n]	Returns a match for any lower case character, alphabetically between a and n	
[^arn]	Returns a match for any character EXCEPT a, r, and n	
[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
[0-9]	Returns a match for any digit between 0 and 9	
[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59	
[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case	
[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

## Search Function

In [1]:
# search if strings starts and ends with specified words.
import re

txt = "The Avengers are Earth's mightiest heros"
x = re.search("^The.+heros$", txt)
if x != None:
    print(True)
else: print(False)

True

In [20]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search("^The", txt) # '\AThe'
if x != None:
    print(True)
else: print(False)

True

In [21]:
print(x) # returns match object

<re.Match object; span=(0, 3), match='The'>

.span() returns a tuple containing the start-, and end positions of the match.
.string returns the string passed into the function
.group() returns the part of the string where there was a match

In [22]:
x.span()

(0, 3)

In [23]:
x.group()

'The'

In [18]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search("The$", txt)
if x != None:
    print(True)
else: print(False)

False

In [75]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search(r"heros\b", txt) # beginning or end of string
if x != None:
    print(x.group())
else: print(False)

heros

In [76]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search(r"\bThe", txt) # beginning or end of string
if x != None:
    print(x.group())
else: print(False)

The

In [80]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search(r"\Bers", txt) #not at beginning or end of string
if x != None:
    print(x.group())
else: print(False)

ers

In [81]:
txt = "The Avengers are Earth's mightiest heros"
x = re.findall('\D', txt) # not digits
print(x)

['T', 'h', 'e', ' ', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's', ' ', 'a', 'r', 'e', ' ', 'E', 'a', 'r', 't', 'h', "'", 's', ' ', 'm', 'i', 'g', 'h', 't', 'i', 'e', 's', 't', ' ', 'h', 'e', 'r', 'o', 's']

In [84]:
txt = "The Avengers are Earth's mightiest heros 2 31 651"
x = re.findall(r"\d", txt) # finds digits
print(x)

['2', '3', '1', '6', '5', '1']

In [85]:
txt = "The Avengers are Earth's mightiest heros"
x = re.findall('\s', txt) # spaces
print(x)

[' ', ' ', ' ', ' ', ' ']

In [86]:
txt = "The Avengers are Earth's mightiest heros"
x = re.findall('\S', txt) # not spaces
print(x)

['T', 'h', 'e', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's', 'a', 'r', 'e', 'E', 'a', 'r', 't', 'h', "'", 's', 'm', 'i', 'g', 'h', 't', 'i', 'e', 's', 't', 'h', 'e', 'r', 'o', 's']

In [4]:
txt = "The Avengers are + Earth's - mightiest _ heros 9"
x = re.findall('\w', txt) # word characters   alphabet numbers underscore
print(x)

['T', 'h', 'e', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's', 'a', 'r', 'e', 'E', 'a', 'r', 't', 'h', 's', 'm', 'i', 'g', 'h', 't', 'i', 'e', 's', 't', '_', 'h', 'e', 'r', 'o', 's', '9']

In [88]:
txt = "The Avengers are Earth's mightiest heros"
x = re.findall('\W', txt) # not word characters   alphabet numbers underscore
print(x)

[' ', ' ', ' ', "'", ' ', ' ']

In [89]:
txt = "The Avengers are Earth's mightiest heros"
x = re.search('heros\Z', txt) #at end of string
if x != None:
    print(x.group())
else: print(False)

heros

In [25]:
txt = "Hello, my name is Uddesh Soman. I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("de", txt) # returns a list of all matches.
print(x)

['de', 'de']

In [26]:
txt = "Hello, my name is Uddesh Soman. I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("be", txt)
print(x)

[]

In [33]:
txt = "Hello, my name is Uddesh Soman. I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[a-m]", txt) # range of characters to look for
print(x)

['e', 'l', 'l', 'm', 'a', 'm', 'e', 'i', 'd', 'd', 'e', 'h', 'm', 'a', 'a', 'm', 'a', 'd', 'e', 'f', 'a', 'c', 'h', 'e', 'l', 'e', 'g', 'e', 'e', 'c', 'e', 'a', 'j', 'j', 'a', 'i', 'g', 'i', 'e', 'e', 'i', 'g', 'l', 'l', 'e', 'g', 'e']

In [42]:
txt = "Hello, my name is Uddesh Soman. I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[arn]", txt) # Specified characters to look for
print(x)

['n', 'a', 'a', 'n', 'a', 'a', 'n', 'a', 'r', 'r', 'r', 'a', 'a', 'n', 'n', 'n', 'r', 'n']

In [45]:
txt = "Hello, my name is Uddesh Soman. 123 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[^arn]", txt) # All except specified characters
print(x)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'm', 'e', ' ', 'i', 's', ' ', 'U', 'd', 'd', 'e', 's', 'h', ' ', 'S', 'o', 'm', '.', ' ', '1', '2', '3', ' ', 'I', ' ', 'm', ' ', ' ', 's', 't', 'u', 'd', 'e', 't', ' ', 'o', 'f', ' ', 'B', 'c', 'h', 'e', 'l', 'o', "'", 's', ' ', 'D', 'e', 'g', 'e', 'e', ' ', 'c', 'o', 'u', 's', 'e', ' ', 't', ' ', 'U', 'j', 'j', 'i', ' ', 'E', 'g', 'i', 'e', 'e', 'i', 'g', ' ', 'C', 'o', 'l', 'l', 'e', 'g', 'e', '.']

In [54]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[a-iA-I]", txt) # lowe or upper case
print(x)

['H', 'e', 'a', 'e', 'i', 'd', 'd', 'e', 'h', 'a', 'I', 'a', 'a', 'd', 'e', 'f', 'B', 'a', 'c', 'h', 'e', 'D', 'e', 'g', 'e', 'e', 'c', 'e', 'a', 'a', 'i', 'E', 'g', 'i', 'e', 'e', 'i', 'g', 'C', 'e', 'g', 'e']

In [55]:
txt = "Hello, my name is Uddesh Soman. 13151 I + am a student of Bachelor's Degree + course at Ujjain Engineering College."
x = re.findall("[+]", txt) # special characters
print(x)

['+', '+']

In [46]:
txt = "Hello, my name is Uddesh Soman. 123 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[156]", txt) # specified characters (numbers)
print(x)

['1']

In [47]:
txt = "Hello, my name is Uddesh Soman. 123 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[^156]", txt) # All except specified characters
print(x)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'U', 'd', 'd', 'e', 's', 'h', ' ', 'S', 'o', 'm', 'a', 'n', '.', ' ', '2', '3', ' ', 'I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'u', 'd', 'e', 'n', 't', ' ', 'o', 'f', ' ', 'B', 'a', 'c', 'h', 'e', 'l', 'o', 'r', "'", 's', ' ', 'D', 'e', 'g', 'r', 'e', 'e', ' ', 'c', 'o', 'u', 'r', 's', 'e', ' ', 'a', 't', ' ', 'U', 'j', 'j', 'a', 'i', 'n', ' ', 'E', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g', ' ', 'C', 'o', 'l', 'l', 'e', 'g', 'e', '.']

In [50]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[0-9]", txt) # range of numbers to look for
print(x)

['1', '3', '1', '5', '1']

In [90]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc"
x = re.findall('abc*', txt) # followed by zero or more characters
print(x)

['abc', 'abcc', 'abccc', 'abcccc', 'abccccc', 'abcccccc', 'abccccccc']

In [91]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc"
x = re.findall('abc?', txt) # followed by one or zero characters
print(x)

['abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'abc']

In [92]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc"
x = re.findall('abc{3}', txt) # with specific number of occurances
print(x)
print(x)

['abccc', 'abccc', 'abccc', 'abccc', 'abccc']

In [95]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc"
x = re.findall('abc{2,4}', txt) # occurance in range
print(x)

['abcc', 'abccc', 'abcccc', 'abcccc', 'abcccc', 'abcccc']

In [96]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc, abcbcbcbc, abcbcbcbcbcbcbcbc"
x = re.findall('a(bc){2}', txt) # grouping with specific number of occurances
print(x)

['bc', 'bc']

In [97]:
txt = "abc abcc abccc abcccc abccccc abcccccc, abccccccc, abcbcbcbc, abcbcbcbcbcbcbcbc"
x = re.findall('a(bc){2,4}', txt) # grouping with range
print(x)

['bc', 'bc']

In [51]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.findall("[0-5][0-9]", txt) # range of numbers to look for two digit numbers. 00-59, 13 considered so restof lookup is in 151
print(x)

['13', '15']

In [56]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("he..o", txt) # any character except newline
print(x)

['hello', 'hedfo', 'hesdo', 'hello']

In [57]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("hello", txt) # any character except newline
print(x)

['hello', 'hello']

In [58]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("he.o", txt) # any character except newline
print(x)

['helo']

In [59]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("he.*o", txt) # zero or more occurance
print(x)

['helo hello hedfo hesdo heo hebjabvcjso hello']

In [10]:
txt = 'heo'
x = re.findall("he.+o", txt) # one or more occurance
print(x)

[]

In [61]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("he.?o", txt) # zero or one occurance
print(x)

['helo', 'heo']

In [62]:
txt = ' helo hello hedfo hesdo heo hebjabvcjso hello'
x = re.findall("he.{8}o", txt) # Exactly the specified number of occurrences
print(x)

['hello hedfo', 'hebjabvcjso']

In [64]:
txt = ' helo hello hedfo fun hesdo heo hebjabvcjso hello'
x = re.findall("helo|fun", txt) # or operator
print(x)

['helo', 'fun']

In [65]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.split("\s", txt)
print(x)

['Hello,', 'my', 'name', 'is', 'Uddesh', 'Soman.', '13151', 'I', 'am', 'a', 'student', 'of', "Bachelor's", 'Degree', 'course', 'at', 'Ujjain', 'Engineering', 'College.']

In [66]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.split("e", txt)
print(x)

['H', 'llo, my nam', ' is Udd', 'sh Soman. 13151 I am a stud', 'nt of Bach', "lor's D", 'gr', '', ' cours', ' at Ujjain Engin', '', 'ring Coll', 'g', '.']

In [69]:
txt = "Hello, my name is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."
x = re.split("e", txt, maxsplit = 2)
print(x)

['H', 'llo, my nam', " is Uddesh Soman. 13151 I am a student of Bachelor's Degree course at Ujjain Engineering College."]

In [71]:
txt = 'this is a bird. this is a cat . this is a dog. this is an elephant'
x = re.sub('this', 'This', txt)
print(x)

This is a bird. This is a cat . This is a dog. This is an elephant

In [72]:
txt = 'this is a bird. this is a cat . this is a dog. this is an elephant'
x = re.sub('this', 'This', txt, 2)
print(x)

This is a bird. This is a cat . this is a dog. this is an elephant